APP_NAME="Cliento"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cliento
DB_USERNAME=your_username
DB_PASSWORD=your_password